*{
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
    color: white;
    
   
}

header {
    background-color: rgb(21, 22, 43);
    padding-top: 10%;
    color: white;
    padding: 60px;
    text-align: center;
    font-size: 25px;
}

.sobre {
    text-align: center;
    padding:30px 0px 30px;
    font-size: 20px;
    border-top: 40px solid black;
    border-bottom: 5px solid black;
    background-color: rgba(24, 24, 44, 0.856);
}

.main {
    display: flex;
    background-color: rgba(24, 24, 44, 0.856);
}

.main img {
    margin-top: 15px;
    display: flex;
}
.alura {
    display: flex;
    flex-direction: column;
    flex: 40%;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 50px;
}

.titulo {
    font-size: 25px;
}

.descricao {
    margin: 20px;
    text-align: left;
    
}


img {
    margin:10px ;
}

.prints {
    border-radius: 20px;
    padding: 10px;
}

.prints-mobile {
    border-radius: 20px;
    padding: 10px;
}

.senai {
    display: flex;
    flex-direction: column;
    flex: 60%;
    margin: 20px 50px 50px  ;
    font-size: 20px;
    
}


.footer-area  {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    flex-direction:column ;
    background-color: rgb(58, 58, 58);
   
}

.footer-area h4 {
    font-size: 20px;
    color: black;
}

.footer-area a {
    text-decoration: none;
    color: black;
    cursor: pointer;

    
}

@media screen and (max-width:900px) {
    .main {
        flex-direction: column;
    }

    .alura {
        margin-left: 10px;
    }

    .senai {
        margin-left: 10px;
    }

    img {

        margin-left: 0;
        
    }

 

    .prints-mobile {
        width: 300px;
    }


}
